.a1{
    float: right;
    
}
.logo{
    float: left;
}
a{
    margin: 10px;
    color:black;
}

a.text-white {
    color: #ffffff !important;
    text-decoration: none;
}

.dropdown-menu {
    background-color: #007bff; 
    
}
.dropdown-item:hover {
    background-color: #004085; 
    color: #ffffff;
    max-width: 100px;
}

i.bi-box-arrow-in-right, i.bi-person-plus {
    color: #ffffff;
}
